{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}
<ul class="l-feature-list__list">
    {% for post in posts %}
        <li class="l-feature-list__item">
            {% include ["templates/inc/feature-content.twig"] %}
        </li>
    {% endfor %}
</ul>


